body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin:30px;
}
.btn-issue{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}
.question-count{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.pages{
    float:left;
    margin-bottom: 20px;
}
.sections{
    margin-top: 30px;
}
.communtiy-menu{
    color: #999;
    font-size: 13px;
}