<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>码洋</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div id="question-list">
            </div>
            <div  class="pages">
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="question-pages">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门问题</h3>
            问题标题:请用精简的语言描述您发布的问题,不超过25宇<br>
            问题补充:详细补充您的问题内容,并确保问题描述清晰直观,并提供一些相关的资料.<br>
            选择标签:选择一个或者多个合适的标签,用逗号隔开,每个标签不超过10个字<br>
        </div>
    </div>
</div>
</body>
<script th:inline="none" type="text/javascript">
    $(function (){
        getMyQuestions(1);
    });
    function getMyQuestions(num) {
        $.ajax({
            url:"/question/list/"+num,
            type:"POST",
            success:function (result) {
                if(result.code==0){
                    var question=result.data.list;
                    var pageInfo=result.data;
                    var num=1;
                    var li='';
                    $('#question-pages').empty();
                    $("#question-list").empty();
                    $.each(question,function(inde,question) {
                        li='<div class="media">\n' +
                            '                    <a href="/question/'+question.id+'">\n' +
                            '                <div class="media-left">\n' +
                            '                        <img class="media-object img-rounded" src="'+question.creator.avatarUrl+'" alt="..." >\n' +
                            '                </div>\n' +
                            '                <div class="media-body">\n' +
                            '                    <h4 class="media-heading">'+question.title+'</h4>'+question.description+'<br>\n' +
                            '                    <span class="question-count">'+question.commentCount+'个回复●'+question.viewCount+'次浏览●'+getDateDiff(question.gmtCreate)+'</span>\n' +
                            '                </div>\n' +
                            '                    </a>\n' +
                            '            </div>';
                            $("#question-list").append(li);
                    });
                    if(pageInfo.isFirstPage){
                        li= '                        <li class="disabled">\n' +
                            '                            <a href="#" aria-label="Previous">\n' +
                            '                                <span aria-hidden="true">&laquo;</span>\n' +
                            '                            </a>\n' +
                            '                        </li>';
                    }else {
                        li= '                        <li>\n' +
                            '                            <a href="#" onclick="getMyQuestions(1)"aria-label="Previous">\n' +
                            '                                <span aria-hidden="true">&laquo;</span>\n' +
                            '                            </a>\n' +
                            '                        </li>';
                    }
                    $('#question-pages').append(li);
                    for(num;num<=pageInfo.pages;num++){
                        if(pageInfo.pageNum==num){
                            li='<li class="active"><a href="#">'+num+'</a></li>';
                        }else {
                            li='<li><a href="#" onclick="getMyQuestions('+num+')">'+num+'</a></li>';
                        }
                        $('#question-pages').append(li);

                    }
                    if(pageInfo.isLastPage){
                        li='<li class="disabled">\n' +
                            '                            <a href="#" aria-label="Next">\n' +
                            '                                <span aria-hidden="true">&raquo;</span>\n' +
                            '                            </a>\n' +
                            '                        </li>\n';
                    }else {
                        li='<li>\n' +
                            '                            <a href="#" onclick="getMyQuestions(99999999)" aria-label="Next">\n' +
                            '                                <span aria-hidden="true">&raquo;</span>\n' +
                            '                            </a>\n' +
                            '                        </li>\n' ;
                    }
                    $('#question-pages').append(li);
                }
            }
        })
    }
    //计算时差
    function getDateDiff(dateTimeStamp) {
        var minute = 1000 * 60;
        var hour = minute * 60;
        var day = hour * 24;
        var halfamonth = day * 15;
        var month = day * 30;
        var now = new Date().getTime();
        var diffValue = now - dateTimeStamp;
        if (diffValue < 0) {
            //若日期不符则弹窗口告之,结束日期不能小于开始日期！
        }
        var monthC = diffValue / month;
        var weekC = diffValue / (7 * day);
        var dayC = diffValue / day;
        var hourC = diffValue / hour;
        var minC = diffValue / minute;
        if (monthC >= 1) {
            result = "发表于" + parseInt(monthC) + "个月前";
        }
        else if (weekC >= 1) {
            result = "发表于" + parseInt(weekC) + "周前";
        }
        else if (dayC >= 1) {
            result = "发表于" + parseInt(dayC) + "天前";
        }
        else if (hourC >= 1) {
            result = "发表于" + parseInt(hourC) + "个小时前";
        }
        else if (minC >= 1) {
            result = "发表于" + parseInt(minC) + "分钟前";
        } else
            result = "刚刚发表";
        return result;
    }
</script>
</html>